.sobre-festival {
    padding: 5rem 0;

    @include tablet {
        @include grid(2, 5rem);
    }
}

.contenido-festival {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h2 {
        font-size: 3rem;
    }
    
    .fecha {
        color: $rosa;
        font-weight: 700;
    }

    .texto {
        line-height: 1.5;
    }
}

